.version.mangueras /* version checker */
{
	color: #0000FE;
	background-color: #841CFA;
}

.html
{
	background: #7F7F7F url("../images/versal%20fondo.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 633px;
	-pie-box-shadow: 3px 1px 12px #7F7F7F;
	box-shadow: 3px 1px 12px rgba(0,0,0,0.5);
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#pu2745
{
	width: 0.01px;
}

#u2745
{
	z-index: 154;
	width: 961px;
	margin-right: -10000px;
}

#u3174
{
	z-index: 165;
	width: 198px;
	height: 70px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 37px;
}

.ie #u3174
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3242
{
	z-index: 166;
	width: 46px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 497px;
}

#menuu85
{
	z-index: 2;
	width: 950px;
	margin-left: 5px;
	margin-top: 4px;
}

#u131
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
}

#u134
{
	width: 236px;
	padding-bottom: 18px;
}

#u134:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u134:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u137-4
{
	width: 236px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u134:hover #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u134:active #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
	left: 238px;
}

#u163
{
	width: 236px;
	padding-bottom: 18px;
}

#u134.MuseMenuActive,#u163:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u163:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u165-4
{
	width: 236px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u134.MuseMenuActive #u137-4,#u163:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u163:active #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u179
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
	left: 476px;
}

#u182
{
	width: 236px;
	padding-bottom: 18px;
}

#u163.MuseMenuActive,#u182:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u182:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u183-4
{
	width: 222px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u182:hover #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u182.MuseMenuActive #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	z-index: 21;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 9px;
	left: 222px;
}

#u182:hover #u185
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u185
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 212px;
	top: 32px;
}

#u181,#u1744
{
	width: 212px;
}

#u1745
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1745:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1747-4
{
	width: 189px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1745:hover #u1747-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1748
{
	z-index: 30;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 196px;
}

#u182.MuseMenuActive #u185,#u1745:hover #u1748
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1749
{
	width: 209px;
	left: 212px;
}

#u9341
{
	width: 207px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9341:hover
{
	width: 207px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9343-4
{
	width: 199px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9341:hover #u9343-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 199px;
	margin: 0px -10000px 0px 0px;
}

#u1750,#u9340,#u9548
{
	width: 209px;
}

#u9549
{
	width: 207px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9341.MuseMenuActive,#u9549:hover
{
	width: 207px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9549.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9550-4
{
	width: 199px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9341.MuseMenuActive #u9343-4,#u9549:hover #u9550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 199px;
	margin: 0px -10000px 0px 0px;
}

#u9549.MuseMenuActive #u9550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 199px;
	margin: 0px -10000px 0px 0px;
}

#u1780
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1745.MuseMenuActive,#u1780:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1781-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1780:hover #u1781-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1797
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1780.MuseMenuActive,#u1797:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1800-4
{
	width: 189px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1745.MuseMenuActive #u1747-4,#u1797:hover #u1800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1799
{
	z-index: 57;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 196px;
}

#u1745.MuseMenuActive #u1748,#u1797:hover #u1799
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1795
{
	width: 208px;
	left: 212px;
}

#u1796,#u9396
{
	width: 208px;
}

#u9397
{
	width: 206px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9397:hover
{
	width: 206px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9397.MuseMenuActive
{
	width: 206px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9399-4
{
	width: 198px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9397:hover #u9399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 198px;
	margin: 0px -10000px 0px 0px;
}

#u9397.MuseMenuActive #u9399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 198px;
	margin: 0px -10000px 0px 0px;
}

#u1810
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1797.MuseMenuActive,#u1810:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1811-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1780.MuseMenuActive #u1781-4,#u1810:hover #u1811-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1825
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1810.MuseMenuActive,#u1825:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1826-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1810.MuseMenuActive #u1811-4,#u1825:hover #u1826-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2777
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1825.MuseMenuActive,#u2777:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2778-4
{
	width: 189px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1797.MuseMenuActive #u1800-4,#u2777:hover #u2778-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u2777.MuseMenuActive #u2778-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u2780
{
	z-index: 84;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 196px;
}

#u1797.MuseMenuActive #u1799,#u2777:hover #u2780
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2777.MuseMenuActive #u2780
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2781
{
	width: 211px;
	left: 212px;
}

#u2782
{
	width: 207px;
	padding: 2px;
}

#u9236
{
	width: 207px;
}

#u9237
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9237:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9238-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9237:hover #u9238-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6627
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9237.MuseMenuActive,#u6627:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6629-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9237.MuseMenuActive #u9238-4,#u6627:hover #u6629-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6761
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6627.MuseMenuActive,#u6761:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6764-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6627.MuseMenuActive #u6629-4,#u6761:hover #u6764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6905
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6761.MuseMenuActive,#u6905:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6907-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6761.MuseMenuActive #u6764-4,#u6905:hover #u6907-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6918
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6905.MuseMenuActive,#u6918:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6920-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6905.MuseMenuActive #u6907-4,#u6918:hover #u6920-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6626,#u6760,#u6902,#u6915,#u6928
{
	width: 207px;
	margin-top: 2px;
}

#u6931
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6918.MuseMenuActive,#u6931:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6931.MuseMenuActive
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6934-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6918.MuseMenuActive #u6920-4,#u6931:hover #u6934-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6931.MuseMenuActive #u6934-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u4050
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2777.MuseMenuActive,#u4050:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4051-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1825.MuseMenuActive #u1826-4,#u4050:hover #u4051-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2826
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u4050.MuseMenuActive,#u2826:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2828-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u4050.MuseMenuActive #u4051-4,#u2826:hover #u2828-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2852
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2826.MuseMenuActive,#u2852:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2853-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u2826.MuseMenuActive #u2828-4,#u2852:hover #u2853-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1779,#u1794,#u1809,#u1824,#u2776,#u4049,#u2825,#u2851,#u2878
{
	width: 212px;
	margin-top: 2px;
}

#u2881
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2852.MuseMenuActive,#u2881:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2881.MuseMenuActive
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2884-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u2852.MuseMenuActive #u2853-4,#u2881:hover #u2884-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2881.MuseMenuActive #u2884-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u194
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
	left: 714px;
}

#u195
{
	width: 236px;
	padding-bottom: 18px;
}

#u182.MuseMenuActive,#u195:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u195:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u195.MuseMenuActive
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u197-4
{
	width: 236px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u163.MuseMenuActive #u165-4,#u195:hover #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u195:active #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u195.MuseMenuActive #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu7648
{
	z-index: 168;
	width: 0.01px;
	height: 185px;
	padding-bottom: 238px;
	margin-left: 22px;
	margin-top: 1px;
	position: relative;
}

#u7668
{
	position: absolute;
	width: 762px;
	background-color: transparent;
	left: 174px;
}

#u7668popup
{
	z-index: 169;
}

#u7716
{
	z-index: 170;
	width: 762px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u7718
{
	z-index: 187;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 64px;
}

#u7721-4
{
	z-index: 171;
	width: 215px;
	min-height: 24px;
	background-color: transparent;
	text-align: justify;
	font-size: 17px;
	font-weight: bold;
	position: relative;
}

#pu7720-6
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 31px;
}

#u7720-6
{
	z-index: 175;
	width: 128px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7717-6
{
	z-index: 181;
	width: 63px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u7704
{
	z-index: 189;
	width: 762px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u7705
{
	z-index: 210;
	width: 258px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 45px;
}

#pu7708-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 337px;
}

#u7708-4
{
	z-index: 190;
	width: 215px;
	min-height: 24px;
	background-color: transparent;
	text-align: justify;
	font-size: 17px;
	font-weight: bold;
	position: relative;
}

#pu7707-8
{
	width: 0.01px;
	margin-top: 33px;
}

#u7707-8
{
	z-index: 194;
	width: 128px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7709-8
{
	z-index: 202;
	width: 63px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u7710
{
	z-index: 212;
	width: 762px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u7712
{
	z-index: 237;
	width: 245px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 48px;
}

#pu7715-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 336px;
}

#u7715-4
{
	z-index: 213;
	width: 215px;
	min-height: 24px;
	background-color: transparent;
	text-align: justify;
	font-size: 17px;
	font-weight: bold;
	position: relative;
}

#pu7714-10
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 33px;
}

#u7714-10
{
	z-index: 217;
	width: 128px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7711-10
{
	z-index: 227;
	width: 63px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u7722
{
	z-index: 239;
	width: 762px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u7724
{
	z-index: 256;
	width: 234px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 52px;
}

#pu7721-4,#pu7723-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 337px;
}

#u7723-4
{
	z-index: 240;
	width: 215px;
	min-height: 24px;
	background-color: transparent;
	text-align: justify;
	font-size: 17px;
	font-weight: bold;
	position: relative;
}

#pu7726-6
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 34px;
}

#u7726-6
{
	z-index: 244;
	width: 128px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7727-6
{
	z-index: 250;
	width: 63px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u7683
{
	z-index: 258;
	width: 762px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u7687
{
	z-index: 275;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 77px;
}

#pu7684-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 31px;
	margin-left: 337px;
}

#u7684-4
{
	z-index: 259;
	width: 215px;
	min-height: 24px;
	background-color: transparent;
	text-align: justify;
	font-size: 17px;
	font-weight: bold;
	position: relative;
}

#pu7686-6
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 33px;
}

#u7686-6
{
	z-index: 263;
	width: 128px;
	min-height: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7685-6
{
	z-index: 269;
	width: 94px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u7720-2,#u7717-2,#u7707-2,#u7709-2,#u7714-2,#u7711-2,#u7726-2,#u7727-2,#u7686-2,#u7685-2
{
	font-size: 13px;
	font-weight: bold;
}

#u7720-4,#u7717-4,#u7707-4,#u7707-6,#u7709-4,#u7709-6,#u7714-4,#u7714-6,#u7714-8,#u7711-4,#u7711-6,#u7711-8,#u7726-4,#u7727-4,#u7686-4,#u7685-4
{
	font-size: 12px;
}

#u7649
{
	z-index: 277;
	width: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 5px;
}

#pu7656
{
	position: absolute;
	width: 0.01px;
	top: -2px;
	left: -5px;
}

#u7656
{
	position: absolute;
	width: 167px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#u7657-4
{
	z-index: 280;
	width: 158px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-size: 11px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu7656:hover #u7657-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
	min-height: 20px;
}

#pu7656:hover #u7657-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu7654
{
	position: absolute;
	width: 0.01px;
	top: 32px;
	left: -5px;
}

#u7654
{
	position: absolute;
	width: 167px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#u7655-4
{
	z-index: 288;
	width: 158px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-size: 11px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu7654:hover #u7655-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
	min-height: 20px;
}

#pu7654:hover #u7655-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu7662
{
	position: absolute;
	width: 0.01px;
	top: 67px;
	left: -5px;
}

#u7662
{
	position: absolute;
	width: 167px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#u7663-4
{
	z-index: 296;
	width: 158px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-size: 11px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu7662:hover #u7663-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
	min-height: 20px;
}

#pu7656.PamphletThumbSelected #u7657-4,#pu7654.PamphletThumbSelected #u7655-4,#pu7662.PamphletThumbSelected #u7663-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 4px;
	min-height: 20px;
}

#pu7662:hover #u7663-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu7656 #u7657-4,#pu7654 #u7655-4,#pu7662 #u7663-4
{
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 4px;
}

#pu7658
{
	position: absolute;
	width: 0.01px;
	top: 102px;
	left: -5px;
}

#u7658
{
	position: absolute;
	width: 167px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#u7659-4
{
	z-index: 304;
	width: 158px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-size: 11px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu7658:hover #u7659-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
	min-height: 20px;
}

#pu7658:hover #u7659-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu7652
{
	position: absolute;
	width: 0.01px;
	top: 137px;
	left: -5px;
}

#u7652
{
	position: absolute;
	width: 167px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#pu7656:hover #u7656,#pu7654:hover #u7654,#pu7662:hover #u7662,#pu7658:hover #u7658,#pu7652:hover #u7652
{
	width: 168px;
	height: 24px;
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu7656.PamphletThumbSelected #u7656,#pu7654.PamphletThumbSelected #u7654,#pu7662.PamphletThumbSelected #u7662,#pu7658.PamphletThumbSelected #u7658,#pu7652.PamphletThumbSelected #u7652
{
	width: 167px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #E7E7E7;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u7653-4
{
	z-index: 312;
	width: 158px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-size: 11px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu7652:hover #u7653-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
	min-height: 20px;
}

#pu7658.PamphletThumbSelected #u7659-4,#pu7652.PamphletThumbSelected #u7653-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
	min-height: 20px;
}

#pu7652:hover #u7653-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu7656.PamphletThumbSelected #u7657-4 p,#pu7654.PamphletThumbSelected #u7655-4 p,#pu7662.PamphletThumbSelected #u7663-4 p,#pu7658.PamphletThumbSelected #u7659-4 p,#pu7652.PamphletThumbSelected #u7653-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
	font-size: 11px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu7658 #u7659-4,#pu7652 #u7653-4
{
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u7735
{
	position: absolute;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #E7E7E7;
	top: 14px;
	left: 863px;
}

#u7736-4
{
	z-index: 319;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	color: #888888;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u7737
{
	position: absolute;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #E7E7E7;
	top: 14px;
	left: 893px;
}

#u7735:hover,#u7737:hover
{
	border-color: #999999;
	width: 24px;
	min-height: 0px;
	margin: 0px;
}

#u7738-4
{
	z-index: 324;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	color: #888888;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2506
{
	z-index: 153;
	width: 960px;
	padding-bottom: 6px;
	margin-top: 7px;
}

#u2930-9
{
	z-index: 156;
	width: 334px;
	min-height: 54px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 20px;
	padding-bottom: 72px;
}

