.version.productos /* version checker */
{
	color: #0000F6;
	background-color: #9C6577;
}

.html
{
	background: #7F7F7F url("../images/versal%20fondo.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 677px;
	-pie-box-shadow: 3px 1px 12px #7F7F7F;
	box-shadow: 3px 1px 12px rgba(0,0,0,0.5);
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#pu2745
{
	width: 0.01px;
}

#u2745
{
	z-index: 154;
	width: 961px;
	margin-right: -10000px;
}

#u3174
{
	z-index: 165;
	width: 198px;
	height: 70px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 37px;
}

.ie #u3174
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3242
{
	z-index: 166;
	width: 46px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 497px;
}

#menuu85
{
	z-index: 2;
	width: 950px;
	margin-left: 5px;
	margin-top: 4px;
}

#u131
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
}

#u134
{
	width: 236px;
	padding-bottom: 18px;
}

#u134:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u134:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u137-4
{
	width: 236px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u134:hover #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u134:active #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
	left: 238px;
}

#u163
{
	width: 236px;
	padding-bottom: 18px;
}

#u134.MuseMenuActive,#u163:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u163:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u165-4
{
	width: 236px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u134.MuseMenuActive #u137-4,#u163:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u163:active #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u179
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
	left: 476px;
}

#u182
{
	width: 236px;
	padding-bottom: 18px;
}

#u163.MuseMenuActive,#u182:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u182:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u183-4
{
	width: 222px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u182:hover #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u182.MuseMenuActive #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	z-index: 21;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 9px;
	left: 222px;
}

#u182:hover #u185
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u185
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 212px;
	top: 32px;
}

#u181,#u1744
{
	width: 212px;
}

#u1745
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1745:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1747-4
{
	width: 189px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1745:hover #u1747-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1748
{
	z-index: 30;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 196px;
}

#u182.MuseMenuActive #u185,#u1745:hover #u1748
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1749
{
	width: 209px;
	left: 212px;
}

#u9341
{
	width: 207px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9341:hover
{
	width: 207px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9343-4
{
	width: 199px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9341:hover #u9343-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 199px;
	margin: 0px -10000px 0px 0px;
}

#u1750,#u9340,#u9548
{
	width: 209px;
}

#u9549
{
	width: 207px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9341.MuseMenuActive,#u9549:hover
{
	width: 207px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9549.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9550-4
{
	width: 199px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9341.MuseMenuActive #u9343-4,#u9549:hover #u9550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 199px;
	margin: 0px -10000px 0px 0px;
}

#u9549.MuseMenuActive #u9550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 199px;
	margin: 0px -10000px 0px 0px;
}

#u1780
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1745.MuseMenuActive,#u1780:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1781-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1780:hover #u1781-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1797
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1780.MuseMenuActive,#u1797:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1800-4
{
	width: 189px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1745.MuseMenuActive #u1747-4,#u1797:hover #u1800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1799
{
	z-index: 57;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 196px;
}

#u1745.MuseMenuActive #u1748,#u1797:hover #u1799
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1795
{
	width: 208px;
	left: 212px;
}

#u1796,#u9396
{
	width: 208px;
}

#u9397
{
	width: 206px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9397:hover
{
	width: 206px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9397.MuseMenuActive
{
	width: 206px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9399-4
{
	width: 198px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9397:hover #u9399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 198px;
	margin: 0px -10000px 0px 0px;
}

#u9397.MuseMenuActive #u9399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 198px;
	margin: 0px -10000px 0px 0px;
}

#u1810
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1797.MuseMenuActive,#u1810:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1811-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1780.MuseMenuActive #u1781-4,#u1810:hover #u1811-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1825
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1810.MuseMenuActive,#u1825:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1826-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1810.MuseMenuActive #u1811-4,#u1825:hover #u1826-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2777
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1825.MuseMenuActive,#u2777:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2778-4
{
	width: 189px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1797.MuseMenuActive #u1800-4,#u2777:hover #u2778-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u2777.MuseMenuActive #u2778-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u2780
{
	z-index: 84;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 196px;
}

#u1797.MuseMenuActive #u1799,#u2777:hover #u2780
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2777.MuseMenuActive #u2780
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2781
{
	width: 211px;
	left: 212px;
}

#u2782
{
	width: 207px;
	padding: 2px;
}

#u9236
{
	width: 207px;
}

#u9237
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9237:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9238-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9237:hover #u9238-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6627
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9237.MuseMenuActive,#u6627:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6629-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9237.MuseMenuActive #u9238-4,#u6627:hover #u6629-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6761
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6627.MuseMenuActive,#u6761:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6764-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6627.MuseMenuActive #u6629-4,#u6761:hover #u6764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6905
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6761.MuseMenuActive,#u6905:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6907-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6761.MuseMenuActive #u6764-4,#u6905:hover #u6907-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6918
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6905.MuseMenuActive,#u6918:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6920-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6905.MuseMenuActive #u6907-4,#u6918:hover #u6920-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6626,#u6760,#u6902,#u6915,#u6928
{
	width: 207px;
	margin-top: 2px;
}

#u6931
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6918.MuseMenuActive,#u6931:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6931.MuseMenuActive
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6934-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6918.MuseMenuActive #u6920-4,#u6931:hover #u6934-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6931.MuseMenuActive #u6934-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u4050
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2777.MuseMenuActive,#u4050:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4051-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1825.MuseMenuActive #u1826-4,#u4050:hover #u4051-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2826
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u4050.MuseMenuActive,#u2826:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2828-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u4050.MuseMenuActive #u4051-4,#u2826:hover #u2828-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2852
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2826.MuseMenuActive,#u2852:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2853-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u2826.MuseMenuActive #u2828-4,#u2852:hover #u2853-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1779,#u1794,#u1809,#u1824,#u2776,#u4049,#u2825,#u2851,#u2878
{
	width: 212px;
	margin-top: 2px;
}

#u2881
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2852.MuseMenuActive,#u2881:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2881.MuseMenuActive
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2884-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u2852.MuseMenuActive #u2853-4,#u2881:hover #u2884-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2881.MuseMenuActive #u2884-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u194
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
	left: 714px;
}

#u195
{
	width: 236px;
	padding-bottom: 18px;
}

#u182.MuseMenuActive,#u195:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u195:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u195.MuseMenuActive
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u197-4
{
	width: 236px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u163.MuseMenuActive #u165-4,#u195:hover #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u195:active #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u195.MuseMenuActive #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u8763
{
	z-index: 168;
	width: 958px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 7px;
	position: relative;
}

#u2506
{
	z-index: 153;
	width: 960px;
	padding-bottom: 6px;
	top: -3px;
	margin-bottom: -3px;
}

#u2930-9
{
	z-index: 156;
	width: 334px;
	min-height: 54px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 20px;
	padding-bottom: 72px;
}

