.version.tig_y_arco_sumergido /* version checker */
{
	color: #000003;
	background-color: #E415CA;
}

.html
{
	background: #7F7F7F url("../images/versal%20fondo.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 689.5px;
	-pie-box-shadow: 3px 1px 12px #7F7F7F;
	box-shadow: 3px 1px 12px rgba(0,0,0,0.5);
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#pu2745
{
	width: 0.01px;
}

#u2745
{
	z-index: 154;
	width: 961px;
	margin-right: -10000px;
}

#u3174
{
	z-index: 165;
	width: 198px;
	height: 70px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 37px;
}

#u3242
{
	z-index: 166;
	width: 46px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 497px;
}

#menuu85
{
	z-index: 2;
	width: 950px;
	margin-left: 5px;
	margin-top: 4px;
}

#u131
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
}

#u134
{
	width: 236px;
	padding-bottom: 18px;
}

#u134:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u134:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u137-4
{
	width: 236px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u134:hover #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u134:active #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
	left: 238px;
}

#u163
{
	width: 236px;
	padding-bottom: 18px;
}

#u134.MuseMenuActive,#u163:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u163:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u165-4
{
	width: 236px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u134.MuseMenuActive #u137-4,#u163:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u163:active #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u179
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
	left: 476px;
}

#u182
{
	width: 236px;
	padding-bottom: 18px;
}

#u163.MuseMenuActive,#u182:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u182:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u183-4
{
	width: 222px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u182:hover #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u182.MuseMenuActive #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	z-index: 21;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 9px;
	left: 222px;
}

#u182:hover #u185
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u182:active #u185
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 212px;
	top: 32px;
}

#u181,#u1744
{
	width: 212px;
}

#u1745
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1745:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1747-4
{
	width: 189px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1745:hover #u1747-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1748
{
	z-index: 30;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 196px;
}

#u182.MuseMenuActive #u185,#u1745:hover #u1748
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1749
{
	width: 209px;
	left: 212px;
}

#u9341
{
	width: 207px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9341:hover
{
	width: 207px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9343-4
{
	width: 199px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9341:hover #u9343-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 199px;
	margin: 0px -10000px 0px 0px;
}

#u1750,#u9340,#u9548
{
	width: 209px;
}

#u9549
{
	width: 207px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9341.MuseMenuActive,#u9549:hover
{
	width: 207px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9549.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9550-4
{
	width: 199px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9341.MuseMenuActive #u9343-4,#u9549:hover #u9550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 199px;
	margin: 0px -10000px 0px 0px;
}

#u9549.MuseMenuActive #u9550-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 199px;
	margin: 0px -10000px 0px 0px;
}

#u1780
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1745.MuseMenuActive,#u1780:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1781-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1780:hover #u1781-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1797
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1780.MuseMenuActive,#u1797:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1800-4
{
	width: 189px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1745.MuseMenuActive #u1747-4,#u1797:hover #u1800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1799
{
	z-index: 57;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 196px;
}

#u1745.MuseMenuActive #u1748,#u1797:hover #u1799
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1795
{
	width: 208px;
	left: 212px;
}

#u1796,#u9396
{
	width: 208px;
}

#u9397
{
	width: 206px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9397:hover
{
	width: 206px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9397.MuseMenuActive
{
	width: 206px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9399-4
{
	width: 198px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9397:hover #u9399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 198px;
	margin: 0px -10000px 0px 0px;
}

#u9397.MuseMenuActive #u9399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 198px;
	margin: 0px -10000px 0px 0px;
}

#u1810
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1797.MuseMenuActive,#u1810:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1811-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1780.MuseMenuActive #u1781-4,#u1810:hover #u1811-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1825
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1810.MuseMenuActive,#u1825:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1826-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1810.MuseMenuActive #u1811-4,#u1825:hover #u1826-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2777
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1825.MuseMenuActive,#u2777:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2778-4
{
	width: 189px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1797.MuseMenuActive #u1800-4,#u2777:hover #u2778-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u2777.MuseMenuActive #u2778-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u2780
{
	z-index: 84;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
	left: 196px;
}

#u1797.MuseMenuActive #u1799,#u2777:hover #u2780
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2777.MuseMenuActive #u2780
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2781
{
	width: 211px;
	left: 212px;
}

#u2782
{
	width: 207px;
	padding: 2px;
}

#u9236
{
	width: 207px;
}

#u9237
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9237:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9238-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9237:hover #u9238-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6627
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9237.MuseMenuActive,#u6627:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6629-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u9237.MuseMenuActive #u9238-4,#u6627:hover #u6629-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6761
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6627.MuseMenuActive,#u6761:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6764-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6627.MuseMenuActive #u6629-4,#u6761:hover #u6764-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6905
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6761.MuseMenuActive,#u6905:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6907-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6761.MuseMenuActive #u6764-4,#u6905:hover #u6907-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6918
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6905.MuseMenuActive,#u6918:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6920-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6905.MuseMenuActive #u6907-4,#u6918:hover #u6920-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6626,#u6760,#u6902,#u6915,#u6928
{
	width: 207px;
	margin-top: 2px;
}

#u6931
{
	width: 205px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6918.MuseMenuActive,#u6931:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6931.MuseMenuActive
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6934-4
{
	width: 197px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6918.MuseMenuActive #u6920-4,#u6931:hover #u6934-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6931.MuseMenuActive #u6934-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u4050
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2777.MuseMenuActive,#u4050:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4051-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u1825.MuseMenuActive #u1826-4,#u4050:hover #u4051-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2826
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u4050.MuseMenuActive,#u2826:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2828-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u4050.MuseMenuActive #u4051-4,#u2826:hover #u2828-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2852
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2826.MuseMenuActive,#u2852:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2853-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u2826.MuseMenuActive #u2828-4,#u2852:hover #u2853-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u1779,#u1794,#u1809,#u1824,#u2776,#u4049,#u2825,#u2851,#u2878
{
	width: 212px;
	margin-top: 2px;
}

#u2881
{
	width: 212px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2852.MuseMenuActive,#u2881:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2881.MuseMenuActive
{
	width: 212px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2884-4
{
	width: 204px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u2852.MuseMenuActive #u2853-4,#u2881:hover #u2884-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u2881.MuseMenuActive #u2884-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u194
{
	width: 236px;
	min-height: 32px;
	margin-right: -10000px;
	left: 714px;
}

#u195
{
	width: 236px;
	padding-bottom: 18px;
}

#u182.MuseMenuActive,#u195:hover
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u195:active
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u195.MuseMenuActive
{
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u197-4
{
	width: 236px;
	min-height: 14px;
	margin-right: -10000px;
	top: 9px;
}

#u163.MuseMenuActive #u165-4,#u195:hover #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u195:active #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#u195.MuseMenuActive #u197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu7750
{
	z-index: 168;
	width: 0.01px;
	height: 452px;
	padding-bottom: 191px;
	margin-left: 19px;
	margin-top: 3px;
	position: relative;
}

#u7755
{
	position: absolute;
	width: 932px;
	background-color: transparent;
}

#u7755popup
{
	z-index: 169;
}

#u7765
{
	z-index: 170;
	width: 932px;
	height: 643px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u7769-3
{
	z-index: 171;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 608px;
}

#u7772
{
	z-index: 174;
	width: 367px;
	height: 224px;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 303px;
}

#u7766
{
	z-index: 175;
	width: 367px;
	height: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 340px;
}

#u7768
{
	z-index: 176;
	width: 403px;
	height: 216px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 337px;
}

#u7767-9
{
	z-index: 177;
	width: 403px;
	min-height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 520px;
}

#u7801
{
	z-index: 186;
	width: 265px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 216px;
}

#u7862
{
	z-index: 188;
	width: 395px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 521px;
}

#u7756
{
	z-index: 190;
	width: 932px;
	height: 643px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#pu7758
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 78px;
}

#u7758
{
	z-index: 191;
	width: 227px;
	height: 232px;
	position: relative;
	margin-right: -10000px;
}

.ie #u3174,.ie #u7772,.ie #u7766,.ie #u7768,.ie #u7758
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7811
{
	z-index: 201;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 119px;
}

#pu7761-9
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 520px;
}

#u7761-9
{
	z-index: 192;
	width: 403px;
	min-height: 102px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u7761-2
{
	font-size: 18px;
	padding-right: 17px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u7857
{
	z-index: 203;
	width: 395px;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u7775
{
	z-index: 205;
	width: 932px;
	height: 643px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u7814
{
	z-index: 215;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 200px;
}

#pu7776-9
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 520px;
}

#u7776-9
{
	z-index: 206;
	width: 395px;
	min-height: 102px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7767-2,#u7767-3,#u7761-3,#u7776-2,#u7776-3
{
	font-size: 18px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u7767-5,#u7761-5,#u7776-5
{
	font-size: 13px;
	color: #595656;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u7767-7,#u7761-7,#u7776-7
{
	font-size: 13px;
	text-align: justify;
	line-height: 1.24;
	color: #595656;
}

#u7852
{
	z-index: 217;
	width: 395px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 6px;
	position: relative;
}

#u8809
{
	z-index: 219;
	width: 932px;
	height: 643px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u8832
{
	z-index: 220;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 269px;
}

#pu8897-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 521px;
}

#u8897-4
{
	z-index: 222;
	width: 342px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#u8898-10
{
	z-index: 226;
	width: 116px;
	background-color: transparent;
	color: #595656;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
}

#u8899-10
{
	z-index: 236;
	width: 116px;
	background-color: transparent;
	color: #595656;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#u8820
{
	z-index: 246;
	width: 932px;
	height: 643px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u8872
{
	z-index: 247;
	width: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 233px;
}

#pu8901-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 520px;
}

#u8901-4
{
	z-index: 249;
	width: 342px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#u8902-8
{
	z-index: 253;
	width: 248px;
	background-color: transparent;
	color: #595656;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
}

#u8903-8
{
	z-index: 261;
	width: 116px;
	background-color: transparent;
	color: #595656;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
}

#u8824
{
	z-index: 269;
	width: 932px;
	height: 643px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u8877
{
	z-index: 270;
	width: 221px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 246px;
}

#pu8904-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 522px;
}

#u8904-4
{
	z-index: 272;
	width: 342px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#pu8898-10,#pu8902-8,#pu8905-6
{
	width: 0.01px;
	margin-top: 15px;
}

#u8905-6
{
	z-index: 276;
	width: 248px;
	background-color: transparent;
	color: #595656;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
}

#u8906-6
{
	z-index: 282;
	width: 116px;
	background-color: transparent;
	color: #595656;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
}

#u8898-2,#u8899-2,#u8902-2,#u8903-2,#u8905-2,#u8906-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u8898-4,#u8898-6,#u8898-8,#u8899-4,#u8899-6,#u8899-8,#u8902-4,#u8902-6,#u8903-4,#u8903-6,#u8905-4,#u8906-4
{
	text-align: justify;
	line-height: 1.24;
}

#u8828
{
	z-index: 288;
	width: 932px;
	height: 643px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u8882
{
	z-index: 289;
	width: 239px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 232px;
}

#pu8907-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 517px;
}

#u8907-4
{
	z-index: 291;
	width: 342px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 3px;
	position: relative;
}

#u8897-2,#u8901-2,#u8904-2,#u8907-2
{
	padding-right: 17px;
}

#pu8908-10
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 14px;
}

#u8908-10
{
	z-index: 295;
	width: 248px;
	background-color: transparent;
	color: #595656;
	font-size: 13px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u8909-10
{
	z-index: 305;
	width: 116px;
	background-color: transparent;
	color: #595656;
	line-height: 1.24;
	text-align: justify;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u8910-4
{
	z-index: 315;
	width: 275px;
	background-color: transparent;
	color: #595656;
	line-height: 1.24;
	text-align: justify;
	font-size: 13px;
	margin-top: 18px;
	position: relative;
}

#u7786
{
	z-index: 319;
	width: 164px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 5px;
}

#pu7791
{
	position: absolute;
	width: 0.01px;
	top: -7px;
	left: -4px;
}

#u7791
{
	position: absolute;
	width: 167px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#pu7791.PamphletThumbSelected #u7791
{
	width: 168px;
	height: 30px;
	border-style: none;
	border-color: #999999;
	background-color: #E7E7E7;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu7791:hover #u7791
{
	width: 168px;
	height: 30px;
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u7792-4
{
	z-index: 322;
	width: 158px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu7791:hover #u7792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	min-height: 20px;
}

#pu7791.PamphletThumbSelected #u7792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	min-height: 20px;
}

#pu7791:hover #u7792-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu7787
{
	position: absolute;
	width: 0.01px;
	top: 31px;
	left: -4px;
}

#u7787
{
	position: absolute;
	width: 167px;
	height: 34px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#pu7787:hover #u7787
{
	width: 168px;
	height: 35px;
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu7787.PamphletThumbSelected #u7787
{
	width: 167px;
	height: 34px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #E7E7E7;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u7788-4
{
	z-index: 330;
	width: 158px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu7787:hover #u7788-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
	min-height: 20px;
}

#pu7787.PamphletThumbSelected #u7788-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
	min-height: 20px;
}

#pu7787:hover #u7788-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu7791 #u7792-4,#pu7787 #u7788-4
{
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#pu7789
{
	position: absolute;
	width: 0.01px;
	top: 74px;
	left: -4px;
}

#u7789
{
	position: absolute;
	width: 168px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#u7790-4
{
	z-index: 338;
	width: 158px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu7789:hover #u7790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
	min-height: 20px;
}

#pu7789.PamphletThumbSelected #u7790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
	min-height: 20px;
}

#pu7789:hover #u7790-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu7789 #u7790-4
{
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#pu8817
{
	position: absolute;
	width: 0.01px;
	top: 274px;
	left: -4px;
}

#u8817
{
	position: absolute;
	width: 168px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#u8819-4
{
	z-index: 346;
	width: 158px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu8817:hover #u8819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	min-height: 20px;
}

#pu8817:hover #u8819-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu8821
{
	position: absolute;
	width: 0.01px;
	top: 315px;
	left: -5px;
}

#u8821
{
	position: absolute;
	width: 168px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#u8823-4
{
	z-index: 354;
	width: 158px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu8821:hover #u8823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	min-height: 20px;
}

#pu8821:hover #u8823-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu8825
{
	position: absolute;
	width: 0.01px;
	top: 355px;
	left: -4px;
}

#u8825
{
	position: absolute;
	width: 168px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#u8827-4
{
	z-index: 362;
	width: 158px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu8825:hover #u8827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	min-height: 20px;
}

#pu8825:hover #u8827-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu8829
{
	position: absolute;
	width: 0.01px;
	top: 395px;
	left: -5px;
}

#u8829
{
	position: absolute;
	width: 168px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
}

#pu7789:hover #u7789,#pu8817:hover #u8817,#pu8821:hover #u8821,#pu8825:hover #u8825,#pu8829:hover #u8829
{
	width: 169px;
	height: 32px;
	border-style: none;
	border-color: #999999;
	background-color: #FFFFFF;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu7789.PamphletThumbSelected #u7789,#pu8817.PamphletThumbSelected #u8817,#pu8821.PamphletThumbSelected #u8821,#pu8825.PamphletThumbSelected #u8825,#pu8829.PamphletThumbSelected #u8829
{
	width: 168px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #E7E7E7;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u8831-4
{
	z-index: 370;
	width: 158px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu8829:hover #u8831-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
	min-height: 20px;
}

#pu8817.PamphletThumbSelected #u8819-4,#pu8821.PamphletThumbSelected #u8823-4,#pu8825.PamphletThumbSelected #u8827-4,#pu8829.PamphletThumbSelected #u8831-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
	min-height: 20px;
}

#pu8829:hover #u8831-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu7791.PamphletThumbSelected #u7792-4 p,#pu7787.PamphletThumbSelected #u7788-4 p,#pu7789.PamphletThumbSelected #u7790-4 p,#pu8817.PamphletThumbSelected #u8819-4 p,#pu8821.PamphletThumbSelected #u8823-4 p,#pu8825.PamphletThumbSelected #u8827-4 p,#pu8829.PamphletThumbSelected #u8831-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#pu8817 #u8819-4,#pu8821 #u8823-4,#pu8825 #u8827-4,#pu8829 #u8831-4
{
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u7753
{
	position: absolute;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #E7E7E7;
	top: 11px;
	left: 867px;
}

#u7754-4
{
	z-index: 377;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	color: #888888;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u7751
{
	position: absolute;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #E7E7E7;
	top: 11px;
	left: 897px;
}

#u7753:hover,#u7751:hover
{
	border-color: #999999;
	width: 24px;
	min-height: 0px;
	margin: 0px;
}

#u7752-4
{
	z-index: 382;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	color: #888888;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u8798-4
{
	z-index: 386;
	width: 203px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 22px;
	top: -383px;
	margin-bottom: -25px;
	position: relative;
}

#u7767,#u7776,#u8798
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u2506
{
	z-index: 153;
	width: 960px;
	padding-bottom: 6px;
	top: -4px;
	margin-bottom: -4px;
}

#u2930-9
{
	z-index: 156;
	width: 334px;
	min-height: 54px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 20px;
	padding-bottom: 72px;
}

